* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    font-size: 1.5em;
    background-color: rgb(143, 249, 143);
}

.wrapper {
    /* background-color: aqua; */
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(./images/background.jpg);
    /* default */
    background-repeat: repeat;     
    /* background-repeat: repeat-y;      */
    /* background-repeat:no-repeat;      */
overflow: visible;
}

header {
    height: 20vh;
    border: 6px dotted yellow;
    background-color: brown;
    padding: 10px;
    background-image: url(./images/color.png);
    background-repeat: repeat-x;
    background-size: cover; /*auto 100%*/ 
    background-size: contain; /*100% auto*/ 
    background-size: auto 50%; 
    /* background-repeat: round; */
    /* 0% 0% */
    background-position: top left;
    /* 0% 50% */
    /* background-position: top center; */

    /* 50% 50% */
    /* background-position:center center; */
    /* background-clip: border-box; */
     background-origin:border-box;
}

nav{
    padding-top: 1%;
    /* line-height: 50px; */
    text-align: right;
}

nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    background-color: aqua;
    border: 2px solid white;
}

li {
    display: inline-block;
    margin-right: -6px;
}
li:last-child {
    display: inline-block;
    margin-right:0;
}
main{
    padding: 20px;
    background-image: url(https://pngimg.com/d/computer_pc_PNG7719.png);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size:  50%  auto;
    background-position: center center;
    /* background-clip: content-box; */
    background-attachment:scroll ;
}