*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
header{
    padding-top: 15px;
    width: 100%;
    height: 80px;
    background-color: lightcyan;
}

.logo{

    display: inline-block;
    margin: 0 10px;
}

.main-menu{
    float: right;
    height: 100%;
    margin-right: 10px;
   
}
.menu{
    height: 100%;
   
 }
.menu-item{
    display: inline-block;
    margin-right: 0;
    background-color: aqua;
    padding: 15px;
    border: 2px solid blue;
    position: relative;
 width: 120px;   

}
.menu-item:hover{
    background-color: blue;
    cursor: pointer;
}
.submenu1{
    width: 100%;
    position: absolute;
    top:50px;
    left:-1px;
    display: none;
}


.menu>.menu-item:hover .submenu1{
  display: block;
}

.submenu12{
    width: 100%;
    position: absolute;
    
     top: -2px;
    left: 120px;
    display: none;
}


.submenu1>.menu-item:nth-child(2):hover .submenu12{
    display: block;;
}

