*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider1,
.slider2{
    text-align: center;
}

.slider1>iframe{
    /* width: 300px; */
    width: 440px;
    height: 476px;
    display: block;
    margin: 0 auto;
    
}

.slider2>iframe{
    /* width: 300px; */
    /* width: 300px;
    height: 300px; */
    width: 260px;
    height: 265px;
    /* display: block; */
    margin: 0 auto;
    text-align: center;
}